<div class="container-fluid bg-image">
    <div class="col-sm-12 text-center">
        <ng-template #template>
            <div class="modal-header text-center">
                <h4 class="modal-title">दस्तावेज़ अपलोड करें</h4>
                <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
                <p>कृपया चिंता दस्तावेज या पर्चे अपलोड करें</p>
                <angular-file-uploader id="uploader" [config]="afuConfig" [resetUpload]=resetVar (ApiResponse)="DocUpload($event)">
                </angular-file-uploader>
                <div *ngIf="ifUploadIsTrue==true" style="top: -84px;
                position: relative;
                background-color: #fff;
                font-size: 20px;
                left: 12px;
                color: #031618;">Upload Successfully</div>
            </div>
        </ng-template>
    </div>
    <div class="col-sm-12 margin0 bg-image">
        <div class="col-sm-2">
            <img src="../../assets/img/Anju_Bot.png">
        </div>
        <div class="col-sm-10">
            <div class="dialog-box" id="style-2">
                <form class="form" id="template-container">
                    <ng-container *ngFor="let message1 of messages1 | async">
                        <img src="../../assets/img/Anju_Bot.png" style="width: 20px;
                        height: 20px;
                        border-radius: 20px;
                        top: 15px;
                        left: 10px;
                        position: relative;
                        float: left;">
                        <div class="message pad-15" [ngClass]="{ 'from': message1.sentBy==='bot' , 'to': message1.sentBy==='user' } ">
                            <input type="text" id="txt1" class="txtNode" name="inputxt" value="{{message1.content}}">
                        </div>
                    </ng-container>
                    <div id="showMessage" class="txtNode"></div>
                </form>
            </div>
        </div>
        <div class="fixedDiv">
            <div class="col-sm-2 pad-15">
                <select id="select"></select>
            </div>
            <div class="col-sm-10 pad-15">
                <input type="text " class="inputValue" id="inputValuetxt1" name="" [(ngModel)]="formValue1" placeholder="कृपया एक अपॉइंटमेंट सेट करें" (keyup.enter)="sendMessage()">
                <button class="microphoneBtn" name="btnActivateSpeechSearchMovie" id="btnActivateSpeechSearchMovie" (click)="activateSpeechSearchMovie()" [disabled]="!showSearchButton">
                        <i class="fa fa-microphone" aria-hidden="true"></i>
                    </button>
            </div>
        </div>
    </div>
</div>