.bg-image {
    background-color: rgb(7, 45, 49);
    /* position: fixed; */
    /* background-position: center;
    background-repeat: no-repeat;
    background-size: cover; */
    height: 100%;
}

#uploader.text-danger {
    display: none !important;
}

p {
    text-align: center;
    color: #031618;
    font-size: 20px;
    font-weight: 700;
}

.modal-button:hover,
.modal-button:active,
.modal-button:focus {
    z-index: 99;
    background-color: #bd9127;
    border-radius: 30px;
    color: #fff;
    text-transform: uppercase;
}

.container {
    width: 100% !important;
}

.modal-backdrop {
    z-index: 1 !important;
}

.modal.in .modal-dialog {
    width: 500px;
    margin: 0 auto;
    top: 25%;
    left: 15px;
}

.modal-backdrop.in {
    z-index: 1 !important;
}

angular-file-uploader label {
    background-color: #dedede;
    border: 1px solid #000;
    color: #000;
}

angular-file-uploader button {
    background-color: #dedede;
    border: 1px solid #000;
    color: #000
}

h4 {
    display: inline;
}

table {
    border-collapse: collapse;
}

.percent {
    position: absolute;
    width: 300px;
    height: 14px;
    z-index: 1;
    text-align: center;
    font-size: 0.8em;
    color: white;
}

.progress-bar {
    width: 300px;
    height: 14px;
    border-radius: 10px;
    border: 1px solid #CCC;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#6666cc), to(#4b4b95));
    border-image: initial;
}

.uploaded {
    padding: 0;
    height: 14px;
    border-radius: 10px;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#66cc00), to(#4b9500));
    border-image: initial;
}

.dropbox {
    width: 15em;
    height: 3em;
    border: 2px solid #DDD;
    border-radius: 8px;
    background-color: #FEFFEC;
    text-align: center;
    color: #BBB;
    font-size: 2em;
    font-family: Arial, sans-serif;
}

.dropbox span {
    margin-top: 0.9em;
    display: block;
}

.dropbox.not-available {
    background-color: #F88;
}

.dropbox.over {
    background-color: #bfb;
}


/* @import url(https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css);
@import url(https://fonts.googleapis.com/css?family=Lato:300,400,700); */

.pad-15 {
    padding-top: 15px;
}

.pad-30 {
    padding-top: 30px;
}

.dynamicBtn {
    border: 1px solid #000;
}

.margin0 {
    margin: 0;
    padding: 0;
}

select {
    border: 1px solid #dedede;
    display: block;
    font-size: 16px;
    font-family: sans-serif;
    font-weight: 700;
    color: #444;
    line-height: 1.3;
    padding: .6em 1.4em .5em .8em;
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
    margin: 0;
    border: 1px solid #aaa;
    box-shadow: 0 1px 0 1px rgba(0, 0, 0, .04);
    /* border-radius: .5em; */
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background-color: #fff;
}

.microphoneBtn {
    color: #000;
    background: none;
    border: 0;
    font-size: 20px;
    /* background: #072d31; */
    border: 0;
    display: inline;
    /* float: right; */
    left: -30px;
    position: relative;
    width: 27px;
}

.microphoneBtn:hover {
    background-color: #dedede;
    border-radius: 5px;
}

h2 {
    text-align: center
}

.fixedDiv {
    height: 76px;
    position: fixed;
    bottom: 0%;
    width: 100%;
    background-color: #194e56;
    opacity: 1;
    border-top: 2px solid #fff;
}

.bg-image {
    background-color: rgb(7, 45, 49);
    position: fixed;
    width: 100%;
    /* background-position: center;
    background-repeat: no-repeat;
    background-size: cover; */
    height: 100%;
}

.dialog-box {
    overflow-y: scroll;
    height: 500px;
    padding: 0 10px;
}

#style-2::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    background-color: #F5F5F5;
}

#style-2::-webkit-scrollbar {
    width: 12px;
    background-color: #000;
    ;
}

#style-2::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    background-color: #F5F5F5;
}

.scrollbar {
    margin-left: 30px;
    float: left;
    /* height: 300px;
    width: 65px;
    background: #F5F5F5; */
    overflow-y: scroll;
    margin-bottom: 25px;
    width: 100%;
}

h2 span {
    text-align: center;
    border-bottom: 1px solid #000;
    margin: 10px;
    padding: 10px;
}

.padding12 {
    padding: 12px;
}


/* select button css */

*,
*:before,
*:after {
    box-sizing: border-box;
    outline: none;
}

html {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 16px;
    font-smooth: auto;
    font-weight: 300;
    line-height: 1.5;
    color: #444;
}

body {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background-color: #bdc3c7;
}

.hover {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 220px;
    height: 50px;
    background-color: #2095fe;
    border-radius: 99px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
    overflow: hidden;
}

.hover:before,
.hover:after {
    position: absolute;
    top: 0;
    display: flex;
    align-items: center;
    width: 50%;
    height: 100%;
    transition: 0.25s linear;
    z-index: 1;
}

.hover:before {
    content: '';
    left: 0;
    justify-content: flex-end;
    background-color: #2095fe;
}

#txt1 {
    background: none;
    color: #000;
    border: 0px;
    font-size: 14px;
    width: 100%;
}


/* .intro-message {
    position: relative;
    width: 200px;
    height: 100px;
    text-align: center;
    line-height: 100px;
    background-color: #fff;
    border: 8px solid #666;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    -webkit-box-shadow: 2px 2px 4px #888;
    -moz-box-shadow: 2px 2px 4px #888;
    box-shadow: 2px 2px 4px #888;
} */

.hover:after {
    content: '';
    right: 0;
    justify-content: flex-start;
    background-color: #2095fe;
}

.inputValue {
    width: 74%;
    padding: 10px;
    border-radius: 0px;
    border: 1px solid #dedede;
    box-shadow: none;
    color: #000;
    border-color: #e5e4e9 !important
}

::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #000;
    opacity: 1;
    /* Firefox */
}

 :-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #000;
}

 ::-ms-input-placeholder {
    /* Microsoft Edge */
    color: #000;
}

.hover:hover {
    background-color: #46627f;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.hover:hover span {
    opacity: 0;
    z-index: -3;
}

.hover:hover:before {
    opacity: 0.5;
    transform: translateY(-100%);
}

.hover:hover:after {
    opacity: 0.5;
    transform: translateY(100%);
}

.hover span {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    color: whitesmoke;
    font-family: 'Fira Mono', monospace;
    font-size: 24px;
    font-weight: 700;
    opacity: 1;
    transition: opacity 0.25s;
    z-index: 2;
}

.hover .social-link {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: left;
    width: 100%;
    height: 100%;
    color: whitesmoke;
    font-size: 20px;
    text-decoration: none;
    transition: 0.25s;
}

.hover .social-link i {
    text-shadow: 1px 1px rgba(70, 98, 127, 0.7);
    transform: scale(1);
}

.hover .social-link:hover {
    background-color: rgba(245, 245, 245, 0.1);
}

.hover .social-link:hover i {
    animation: bounce 0.4s linear;
}

@keyframes bounce {
    40% {
        transform: scale(1.4);
    }
    60% {
        transform: scale(0.8);
    }
    80% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1);
    }
}

h1,
p {
    font-family: sans-serif;
    text-align: center;
    padding: 20px;
}

ul {
    margin: 0;
}

.hints span {
    text-shadow: 0px 0px 6px rgba(255, 255, 255, 0.7);
}


/* General CSS Setup */

body {
    background-color: lightblue;
    font-family: "Ubuntu-Italic", "Lucida Sans", helvetica, sans;
}


/* container */

.container {
    padding: 5% 5%;
}

.message {
    border-radius: 50px;
    /* margin: 0 15px 10px; */
    padding: 15px 20px;
    position: relative;
    font-weight: bold;
}

.message.to {
    background-color: #417a7d;
    color: #000;
    border: 1px solid;
    border-color: #000;
    /* width: 50%;
    float: left; */
    margin: 10px 0px;
    /* margin-left: 30px; */
    margin-right: 250px;
    /* text-align: right; */
}

#showMessage button,
.dynamicBtn {
    border-radius: 20px;
    padding: 10px;
    background: none;
    color: #000;
    border: 0;
    background-color: #e5e4e9;
    border-radius: 20px;
    margin: 0 10px;
    font-weight: 700;
    font-size: 14px;
    width: 200px;
}

.message.from {
    background-color: #E5E4E9;
    color: #363636;
    margin-right: 250px;
    margin-left: 30px
}

.message.to+.message.to,
.message.from+.message.from {
    margin-top: -10px;
}