<div class="main-content">
    <div class="container-fluid">
        <div class="row margin0">
            <div class="col-sm-12 pad-0">
                <div class="col-sm-6">
                    <div class="card">
                        <div class="header">
                            <h4 class="title">Percentage of queries asked in Indian states.</h4>
                        </div>
                        <div>
                            <div>
                                <div style="display:block">
                                    <canvas baseChart width="900" height="410" [datasets]="barChartData" [labels]="barChartLabels" [options]="barChartOptions" [plugins]="barChartPlugins" [legend]="barChartLegend" [chartType]="barChartType">
                        </canvas>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="card">
                        <div class="header">
                            <h4 class="title">Percentage of Indian rural girls which are unaware about mensturation.</h4>
                        </div>
                        <div>
                            <div>
                                <div style="display: block">
                                    <canvas baseChart width="900" height="350" [datasets]="barChartData1" [labels]="barChartLabels1" [options]="barChartOptions" [plugins]="barChartPlugins" [legend]="barChartLegend" [chartType]="barChartType">
                                </canvas>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-sm-12 pad-0">
                <div class="col-md-6">
                    <div class="card">
                        <div class="header">
                            <h4 class="title">Topics Which are majorly Discussed amongst rural women</h4>
                        </div>
                        <div class="content">
                            <div>
                                <div>
                                    <div class="chart">
                                        <canvas baseChart [data]="pieChartData" [labels]="pieChartLabels" [chartType]="pieChartType" [options]="pieChartOptions" [plugins]="pieChartPlugins" [colors]="pieChartColors">
                          </canvas>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card">
                        <div class="header">
                            <h4 class="title">Age Group which are majorly affected</h4>
                        </div>
                        <div class="content">
                            <div>
                                <div>
                                    <div class="chart">
                                        <canvas baseChart [datasets]="lineChartData" [labels]="lineChartLabels" [options]="lineChartOptions" [colors]="lineChartColors" [legend]="lineChartLegend" [chartType]="lineChartType" [plugins]="lineChartPlugins" (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)"></canvas>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>