<div class="main-content">
    <div class="container-fluid">
        <div class="row margin0">
            <div class="col-sm-12">
                <div class="col-sm-6">
                    <div class="card">
                        <div class="header">
                            <h4 class="title">No of problems asked in metropolitian cities.</h4>
                        </div>
                        <div>
                            <div>
                                <div style="display: block">
                                    <canvas baseChart width="900" height="200" [datasets]="barChartData" [labels]="barChartLabels" [options]="barChartOptions" [plugins]="barChartPlugins" [legend]="barChartLegend" [chartType]="barChartType">
                            </canvas>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="card">
                        <div class="header">
                            <h4 class="title">No of problems asked in villages around Maharashtra.</h4>
                        </div>
                        <div>
                            <div>
                                <div style="display: block">
                                    <canvas baseChart width="900" height="200" [datasets]="barChartData1" [labels]="barChartLabels1" [options]="barChartOptions" [plugins]="barChartPlugins" [legend]="barChartLegend" [chartType]="barChartType">
                                    </canvas>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-sm-12">
                <div class="col-md-6">
                    <div class="card">
                        <div class="header">
                            <h4 class="title">Topics Which are majorly Discussed amongst people</h4>
                        </div>
                        <div class="content">
                            <div>
                                <div>
                                    <div class="chart">
                                        <canvas baseChart [data]="pieChartData" [labels]="pieChartLabels" [chartType]="pieChartType" [options]="pieChartOptions" [plugins]="pieChartPlugins" [colors]="pieChartColors">
                              </canvas>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card">
                        <div class="header">
                            <h4 class="title">Age Group which are majorly affected</h4>
                        </div>
                        <div class="content">
                            <div>
                                <div>
                                    <div class="chart">
                                        <canvas baseChart [datasets]="lineChartData" [labels]="lineChartLabels" [options]="lineChartOptions" [colors]="lineChartColors" [legend]="lineChartLegend" [chartType]="lineChartType" [plugins]="lineChartPlugins" (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)"></canvas>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12">
                <div class="card">
                    <div class="header">
                        <h4 class="title">Problems raised / Problems answered</h4>
                    </div>
                    <div class="content">
                        <div>
                            <div>
                                <div class="chart">
                                    <canvas baseChart [datasets]="barChartData2" [labels]="barChartLabels2" [options]="barChartOptions2" [legend]="barChartLegend" [chartType]="barChartType" (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)"></canvas>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>