.bg-danger {
    background-color: #dc3545;
}

.bg-warning {
    background-color: #ffc107 !important;
}

.bg-dark {
    background-color: black;
}

.bg-success {
    background-color: #28a745 !important;
}

.list-group-item {
    border: 0;
    border-radius: 0;
}

.pad-0 {
    padding: 0px;
}


/* .margin0 {
    margin: 0;
} */

.incHeight {
    height: auto !important;
}

.table {
    color: #000;
}

.redColor {
    color: #dc3545;
    text-decoration: underline;
}

.greenColor {
    color: #28a745;
}

.purpleColor {
    color: #9932CC;
}

.table th {
    text-align: center;
    color: #21595f;
}

.table td {
    text-align: center;
}

.table th {
    border-bottom: 2px solid #000;
}