<div class="main-content">
    <div class="container-fluid">
        <div class="row margin0">
            <div class="col-sm-12">
                <div class="card">
                    <div class="header">
                        <h4 class="title">Problems raised / Problems answered by bot</h4>
                    </div>
                    <div class="content">
                        <div>
                            <div>
                                <div class="chart">
                                    <canvas baseChart [datasets]="barChartData2" [labels]="barChartLabels2" [options]="barChartOptions2" [legend]="barChartLegend" [chartType]="barChartType" (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)"></canvas>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="card incHeight">
                    <div class="header">
                        <h4 class="title">Data of problems been raised</h4>
                    </div>
                    <div class="content table-responsive table-full-width">
                        <table class="table table-dark">
                            <thead>
                                <tr>
                                    <th scope="col">S.No</th>
                                    <th scope="col">Name</th>
                                    <th scope="col">Age</th>
                                    <th scope="col">Place</th>
                                    <th scope="col">Problem</th>
                                    <th scope="col">Questions</th>
                                    <th scope="col">Answered Via</th>
                                    <th scope="col">Prescription</th>
                                    <th scope="col">Status</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let item of data">
                                    <td>{{item.sno}}</td>
                                    <td>{{item.name}}</td>
                                    <td>{{item.age}}</td>
                                    <td>{{item.place}}</td>
                                    <td>{{item.problem}}</td>
                                    <td>{{item.question}}</td>
                                    <td>{{item.answered}}</td>
                                    <td>{{item.prescription}}</td>
                                    <td *ngIf="item.status=='Completed'"><a class="greenColor">{{item.status}}</a></td>
                                    <td *ngIf="item.status=='Pending'"><a class="redColor" [routerLink]="['/pendingAnswers',item.question]">{{item.status}}</a></td>
                                    <td *ngIf="item.status=='Reviewd'"><a class="purpleColor">Reviewd By a Specialist</a></td>
                                </tr>

                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>